<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat libero eu erat convallis ornare. Maecenas viverra, neque eget gravida ornare, nulla risus posuere orci, in congue nibh ante sagittis dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque id orci interdum, mollis metus at, maximus velit. Nunc eleifend nisl urna, sed euismod turpis malesuada id. Ut mollis risus in eros elementum ultrices. Aenean metus mi, dignissim dictum pharetra et, lacinia dictum mauris. Donec sagittis odio eget est fringilla, fermentum tincidunt risus congue. Integer dignissim cursus placerat. Vivamus sit amet tempor dolor. Curabitur eget enim fringilla, lacinia dui ac, placerat velit. Donec rhoncus at nibh sed tristique. Fusce aliquam tortor sit amet rhoncus vestibulum. Donec tempus interdum lobortis. Nunc ac ultrices enim.  
	</p>
</article>
