<div class= "container">
<h1>Contacto</h1>

<div id="texto" #textos>
<p appResaltado>
	Esta es la página de contacto, puedes enviarnos cualquier duda.
</p>
</div>

<!--
Tamaño del slider: 
<input type="number" [(ngModel)]="widthSlider">
<button (click)='cargarSlider()'>Cargar slider</button>
<button (click)='resetearSlider()'>Resetear slider</button>

<div *ngIf='anchuraToSlider'> 
Si anchura toSlider tiene algo, es decir, mas de 0 asignado.. Asignamos el valor de algunas  propiedades a otras como por ejemplo [anchura] para usarlas en componentes hijos añadiendolas como decorador input e indicamos  que lo heredará la etiqueta o directiva del componente  hijo que queremos, como propiedad, en este caso <slider> 
	<slider [anchura] ='anchuraToSlider'
			[etiquetas] ='captions'
			(conseguirAutor)="getAutor($event)"
	></slider>
</div>

	<div class="container" *ngIf="autor">
		{{autor.nombre+ " - " +autor.web}}	
	</div>
-->
</div>
